capstone/Library/
capstone/Logs/shadercompiler-UnityShaderCompiler.exe0.log
capstone/UserSettings/Layouts/default-2021.dwlt
capstone/Logs/AssetImportWorker14.log
capstone/Logs/AssetImportWorker15.log
capstone/Logs/AssetImportWorker16.log
capstone/Logs/AssetImportWorker17.log
capstone/Logs/AssetImportWorker18.log
capstone/Logs/AssetImportWorker19.log
capstone/Logs/AssetImportWorker1-prev.log
capstone/Logs/AssetImportWorker2.log
capstone/Logs/AssetImportWorker20.log
capstone/Logs/AssetImportWorker21.log
capstone/Logs/AssetImportWorker22.log
capstone/Logs/AssetImportWorker23.log
capstone/Logs/AssetImportWorker3.log
capstone/Logs/AssetImportWorker4.log
capstone/Logs/AssetImportWorker5.log
capstone/Logs/AssetImportWorker6.log
capstone/Logs/AssetImportWorker7.log
capstone/Logs/AssetImportWorker8.log
capstone/Logs/AssetImportWorker9.log
capstone/Logs/shadercompiler-UnityShaderCompiler.exe3.log
capstone/Logs/shadercompiler-UnityShaderCompiler.exe4.log
capstone/obj/Release/Assembly-CSharp.csproj.AssemblyReference.cache
capstone/obj/Release/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
capstone/obj/Release/CopyrightNoticeEditor.csproj.AssemblyReference.cache
capstone/obj/Release/SimpleInspectorAttributes.csproj.AssemblyReference.cache
capstone/obj/Release/SimpleInspectorAttributesEditor.csproj.AssemblyReference.cache
capstone/obj/Release/SimpleSideMenu.csproj.AssemblyReference.cache
capstone/obj/Release/SimpleSideMenuEditor.csproj.AssemblyReference.cache
capstone/obj/
capstone/Logs/
capstone/Library/Bee
capstone/.vs/
_BACKUP_971.gitignore
_BASE_971.gitignore
_LOCAL_971.gitignore
_REMOTE_971.gitignore
capstone/Temp/
